{{- if (eq .Type "posts") }}
<section id="{{ .Permalink }}">
	<header>
		<h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
	</header>
	<h6>
			Posted <time datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{ .Date.Format "2006-06-01 at 15:04" }}</time>
			{{ if .Params.tags}} in: 
			{{ range .Params.tags }}
			<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> 
			{{ end }}
			{{ end }}
	</h6>
	<p>
	{{ if .Description }}
		{{ .Description}}
	{{ else }}
		{{ .Summary }}
	{{ end }}
		{{ if .Truncated }}
			<a href="{{ .Permalink }}">Read more...</a>
		{{ end }}
	</p>
</section>
{{- else }}
	<a class="button" href="{{ .Permalink }}">{{ .Title }}</a>
{{- end }}